######CONFIG 0
hidden_layer=(1,)
Epochs = 25000
learning_rate = 0.005
solver =  "adam"
activation = "relu"
momentumAll = [0]
qtd_batch = "auto"

######CONFIG 1
fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
solver =  "sgd"   #{'lbfgs', *'sgd', 'adam'}
activation = "logistic" #{'identity', 'logistic', 'tanh', *'relu'}
momentumAll = [0]
qtd_batch = 1#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)