#best config:
[0]: "adam","relu"
[4]: "sgt", "relu"

solver:
	*'sgd' - Foco na aprendizagem
	'adam'- Foco na Velocidade

activation:
	'relu' - melhor MSE
	'identity' - maior abertura


######CONFIG 0 
solver =  "adam"   #{'lbfgs', *'sgd', 'adam'}
activation = "relu" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto"#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]

######CONFIG 1 
solver =  "sgd"   #{'lbfgs', *'sgd', 'adam'}
activation = "logistic" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto"#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]

######CONFIG 2 
solver =  "adam"   #{'lbfgs', *'sgd', 'adam'}
activation = "tanh" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto"#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]

######CONFIG 3 
solver =  "sgd"   #{'lbfgs', *'sgd', 'adam'}
activation = "identity" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto"#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]

######CONFIG 4 
solver =  "sgt"   #{'lbfgs', *'sgd', 'adam'}
activation = "relu" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto" #"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]

######CONFIG 5 
solver =  "sgd"   #{'lbfgs', *'sgd', 'adam'}
activation = "tanh" #{'identity', 'logistic', 'tanh', *'relu'}

qtd_batch = "auto"#"auto"#int, optional, default 'auto' = batch_size=min(200, n_samples)

fileDNN = './trainedDNN/{0}1.pkl'.format(fileTrained)
hidden_layer=(1,)#*(1,) tuple, length = n_layers - 2, default (100,)
Epochs = 25000 #25000
learning_rate = 0.005 #0.005
momentumAll = [0]